<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Advanced Validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h3>Enter a Valid(Any) Email!</h3>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <form action='/process' , method='post'>
        <label for="email">Email</label>
        <input id="email" name="email" type="text">
        <button>Submit</button>
    </form>
</body>
</html>